<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} - Người Ấy Là Ai Database</title>
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    {% if page.layout == "men" %}
      {% assign id = page.name | split: "." | first %}
      <meta property="og:description" content='"{{page.quote}}"' />
      <meta property="og:image" content="/assets/mens/{{id}}.png" />
    {% else %}
      <meta property="og:description" content="{{page.description}}" />
      {% if page.thumbnail %}
      <meta property="og:image" content="{{page.thumbnail}}" />
      {% else %}
      <meta property="og:image" content="/assets/img/brand/nala.png" />
      {% endif %}
    {% endif %}
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/assets/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/vue.js/vue.min.js"></script>
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129062857-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129062857-2');
    </script>
    {%- if page.adsense != false -%}
    <script data-ad-client="ca-pub-9177566204020161" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {%- endif -%}
  </head>
  <body>
    <header class="header">   
      <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
          <div class="search-inner d-flex align-items-center justify-content-center">
            <div class="close-btn">Close <i class="fa fa-close"></i></div>
            <form id="searchForm" action="/mens">
              <div class="form-group">
                <input type="search" name="q" placeholder="Tìm kiếm...">
                <button type="submit" class="submit">Tìm</button>
              </div>
            </form>
          </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header--><a href="index.html" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">NALA</strong><strong>DATABASE</strong></div>
              <div class="brand-text brand-sm"><strong class="text-primary">N</strong><strong>D</strong></div></a>
            <!-- Sidebar Toggle Btn-->
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          <div class="right-menu list-inline no-margin-bottom">    
            <div class="list-inline-item"><a href="#" class="search-open nav-link"><i class="icon-magnifying-glass-browser"></i></a></div>
            <!-- Languages dropdown    -->
            <div class="list-inline-item dropdown">
              <a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle">
                <img src="/assets/img/flags/16/VN.png" alt="Vietnamese"><span class="d-none d-sm-inline-block">Tiếng Việt</span>
              </a>
              <div aria-labelledby="languages" class="dropdown-menu">
                <a rel="nofollow" href="#" class="dropdown-item">
                  <img src="/assets/img/flags/16/VN.png" alt="Vietnamese" class="mr-2"><span>Tiếng Việt</span>
                </a>
              </div>
            </div>
            <div class="list-inline-item"><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fnguoiaylaai.github.io%2F{{page.url}}&layout=button&size=small&appId=483014678906039&width=76&height=20" width="76" height="20" style="border:none;overflow:hidden;position:relative;top:5px;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="/assets/img/brand/nala.png" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5 mt-0">Người Ấy Là Ai</h1>
            <p>Database</p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Menu</span>
        <ul class="list-unstyled">
          {% for menu in site.menus %}
            {% assign nav = site.pages | where: "menu", menu | first %}
            {% if page.url == nav.url %}
            <li class="active"><a href="{{ nav.url | relative_url }}"> <i class="icon-home"></i>{{ menu }}</a></li>            
            {% else %}
            <li><a href="{{ nav.url | relative_url }}"> <i class="icon-home"></i>{{ menu }}</a></li>            
            {% endif %}
          {% endfor %}
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        {%- if page.title -%}
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">{{ page.title }}</h2>
          </div>
        </div>
        {%- endif -%}
        {{ content }}
        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
              <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              <p class="no-margin-bottom">2020 &copy; Người Ấy Là Ai Database. Created by <a target="_blank" href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>. Design by <a target="_blank" href="https://bootstrapious.com/p/bootstrap-4-dark-admin">Bootstrapious</a>.</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/assets/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/assets/vendor/chart.js/Chart.min.js"></script>
    <script src="/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/assets/js/charts-home.js"></script>
    <script src="/assets/js/front.js"></script>
  </body>
</html>